<?xml version='1.0' encoding='utf-8'?>
<plugin id="adobe-experience-platform-cordova-analytics"
        version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-acpanalytics</name>
    <description>ACPAnalytics Plugin for Cordova</description>
    <license>Apache 2.0</license>
    <keywords>cordova,adobe,analytics,acpanalytics,marketing</keywords>

    <!-- use "ACPAnalytics" to access the plugin APIs in javascript -->
    <js-module name="cordova-acpanalytics" src="www/ACPAnalytics.js">
        <clobbers target="ACPAnalytics" />
    </js-module>

    <dependency id="adobe-experience-platform-cordova-core" url="https://git.corp.adobe.com/dms-mobile/cordova-acpcore" />

    <!-- configure android platform -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ACPAnalytics_Cordova">
                <param name="android-package" value="com.adobe.marketing.mobile.cordova.ACPAnalytics_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <!-- plugin source -->
        <source-file src="src/android/ACPAnalytics_Cordova.java"
                     target-dir="src/com/adobe/marketing/mobile/cordova" />
        <!-- dependencies managed through included gradle file -->
        <framework custom="true" src="src/android/ACPAnalytics_Cordova.gradle" type="gradleReference" />
    </platform>

    <!-- configure ios platform -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ACPAnalytics_Cordova">
                <param name="ios-package" value="ACPAnalytics_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <!-- plugin source -->
        <source-file src="src/ios/ACPAnalytics_Cordova.m" />
        <!-- sdk source for ios managed by cocoapods -->
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="ACPAnalytics" spec=">= 2.2.3" />
            </pods>
        </podspec>
    </platform>
</plugin>
